$base-blue: #007bff;

.Pagination {
  width: 60%;
  padding-bottom: 25px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  outline: none;
}
.Active a {
  background-color: $base-blue;
  border-color: $base-blue;
  color: #fff;
}

.Pagination > li > a {
  font-size: 20px;
  border: 1px solid $base-blue;
  padding: 5px 10px;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.Pagination > .Active > a,
.Pagination > .Active > span,
.Pagination > .Active > a:hover,
.Pagination > .Active > span:hover,
.Pagination > .Active > a:focus,
.Pagination > .Active > span:focus {
  background-color: $base-blue;
  border-color: $base-blue;
  outline: none;
  color: #fff;
}

.Pagination > li > a,
.Pagination > li > span {
  color: $base-blue;
}
.Pagination > li:first-child > a,
.Pagination > li:first-child > span,
.Pagination > li:last-child > a,
.Pagination > li:last-child > span {
  border-radius: unset;
}
