.Button {
    cursor: pointer;
    padding: 4px 6px;
    margin: 4px 6px 4px 0px;
    border: solid 1px #007bff;
    color: #007bff;
    outline: none;
    border-radius: 4px;
    background-color: transparent;
}