.Modal {
    position: fixed;
    z-index: 500;
    background-color: #dbdbdb;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    overflow-y: scroll;
}

@media (min-width: 600px) {
    .Modal {
        width: 400px;
        max-height: 80vh;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
    }
}